<%@ CodeTemplate Language="VB" TargetLanguage="Text" Debug="False" Description="" src="../../../../CSLib.vb" %>
<%@ Property Name="RootNs" Type="System.String" Default="" Optional="False" Category="Namespace" Description="The root namespace that will link all the layers." %>
<%@ Property Name="Ns" Type="System.String" Default="" Optional="True" Category="Namespace" Description="An optional namespace string to include." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
namespace <%=RootNs%>.DDL<%= IIf(Ns<>"", "." & Ns, "") %>.Definitions.Schemas
{
    public partial interface ISchemaBase
    {
        string DataContainerName { get; }

        string UniqueId { get; }
    }
}