<%@ CodeTemplate Language="VB" TargetLanguage="Text" Debug="False" Description="" src="../../../CSLib.vb" %>
<%@ Property Name="RootNs" Type="System.String" Default="" Optional="False" Category="Namespace" Description="The root namespace that will link all the layers." %>
<%@ Property Name="Ns" Type="System.String" Default="" Optional="True" Category="Namespace" Description="An optional namespace string to include." %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
namespace <%=RootNs%>.DDL
{
	<%
	if Ns<>"" then
	%>
	namespace <%=Ns & "."%>Definitions
	<%
	else
	%>
	namespace Definitions
	<%
	end if
	%>
	{
		public partial interface IRecordData
		{
			int UniqueId { get; set; }
	
		}
	}
}