<%@ CodeTemplate Language="VB" TargetLanguage="Text" Debug="False" Description="" %>
<%@ Property Name="LogName" Type="System.String" Default="" Optional="False" Category="BLL" Description="The name of the log the app will use in event viewer." %>
<%@ Property Name="RootNs" Type="System.String" Default="" Optional="False" Category="Namespace" Description="The root namespace that will link all the layers." %>
<%@ Property Name="Ns" Type="System.String" Default="" Optional="True" Category="Namespace" Description="An optional namespace string to include." %>
using System;

namespace <%=RootNs%>.BLL<%= IIf(Ns<>"", "." & Ns, "") %>.Services
{
    public static class Logging
    {
        private const string Logname = "<%=LogName%>";
        private static string logBase = System.IO.Path.GetDirectoryName(System.Reflection.Assembly.GetExecutingAssembly().CodeBase).Replace("file:\\", string.Empty) + "\\..\\Logs\\";

        public static void WriteEntry(string source, string message, System.Diagnostics.EventLogEntryType type)
        {
            string todaysLog = Logname + DateTime.Now.ToString("-yyyyMMdd");
            if (!System.IO.Directory.Exists(logBase))
            {
                System.IO.Directory.CreateDirectory(logBase);
            }

            System.IO.File.AppendAllText(logBase + todaysLog + ".log", DateTime.Now.ToString("dd-MM-yy hh:mm:ss") + " - (" + type.ToString() + ") " + message + " - Source: " + source + "\r\n");
        }
    }
}